// COLORS
// http://paletton.com/#uid=24H0u0kFccSvg88DJ9VBOjtEyqu
// -- PURPLE
$color-hellalight-purple: #A90DFF;
$color-light-purple: #9851BF;
$color-dark-purple: #3F1255;
$color-verydark-purple: #2D0244;
// -- YELLOW
$color-hellalight-yellow: #FCFEA9;
$color-light-yellow: #D2D36A;
$color-bold-yellow: #EBEB02;
// -- GREY
$color-light-grey: #BBB;
