// TODO Figure out production strategy...
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css';

// COLORS
$color-hellalight-purple: #A90DFF;
$color-light-purple: #9851BF;
$color-bold-yellow: #EBEB02;
$color-hella-light-yellow: #FCFEA9;
$color-light-yellow: #D2D36A;
$color-light-grey: #AAA;

/**
 * border-box by default, allowing for overrides.
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.pingstat {
    :not(:last-child) {
        margin-right: 8px;
    }
}

.pingstatbar {
    display: inline-block;

    :not(:last-child) {
        margin-right: 1px;
    }
}

.pingstatbarbox {
    display: inline-block;
    height: 0.75em;
    width: 0.75em;

    border: 1px solid $color-light-purple;
    border-radius: 25%;

    &.filled {
        background-color: $color-hellalight-purple;
    }
}

.pingstatvideolink {
    display: inline-block;
    font-family: 'Jaldi', sans-serif;

    a {
        color: $color-bold-yellow;
        text-decoration: none;
    }
}

.pingstatdatetime {
    display: inline-block;
    font-family: 'Yantramanav', sans-serif;
    font-size: 0.75em;
    color: $color-light-grey;
}
