@import 'common';

html {
    height: 100%;
}

body {
    min-width: $break-tiny;
    height: 100%;
    background-color: $color-verydark-purple;
    overflow-x: hidden;
    // TODO Find a different sans-serif font.
    font-family: 'Jaldi', sans-serif;
    color: $color-light-grey;
}

// http://keithclark.co.uk/articles/pure-css-parallax-websites/
.parallax-container {
    perspective: 5px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.parallax-layer {
    position: absolute;
    top: 0;
}
.parallax-back {
    // Impossible to do slow-scrolling layer via translate back and scale up so we're doing a fast-scrolling layer via translate forward.
    transform: translateZ(2px);
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.content {
    min-height: 100%;
    background-color: $bg-dark-purple-translucent;
    padding: .75em;
}

.pings-data {
    margin-top: 1em;
}

@media #{$media-large} {
    .content {
        width: 75%;
        margin-left: 25%;
    }
}
