@import 'common';

html {
    height: 100%;
}

body {
    min-width: $break-tiny;
    height: 100%;
    background-color: $color-verydark-purple;
    // TODO Find a different sans-serif font.
    font-family: 'Jaldi', sans-serif;
    color: $color-light-grey;
}

.container {
    min-height: 100%;
    background-color: $color-dark-purple;
    padding: .75em;
}

.pings-data {
    margin-top: 1em;
}

@media #{$media-large} {
    .container {
        width: 75%;
        margin-left: 25%;
    }
}
